In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("F:\\Codding files\\.vscode\\python\\DA lab\\pokemon_dataset.csv")
#print("Original DataFrame:\n", df)
dataframe=df.head()
print(dataframe)

   pokemon_id        name primary_type secondary_type first_appreance  \
0           1   bulbasaur        grass         poison        red/blue
1           2     ivysaur        grass         poison        red/blue
2           3    venusaur        grass         poison        red/blue
3           4  charmander         fire            NaN        red/blue
4           5  charmeleon         fire            NaN        red/blue

  generation category  total_base_stats  hp  attack  defense  special_attack  \
0      gen 1  regular               318  45      49       49              65
1      gen 1  regular               405  60      62       63              80
2      gen 1  regular               525  80      82       83             100
3      gen 1  regular               309  39      52       43              60
4      gen 1  regular               405  58      64       58              80

   special_defense  speed
0               65     45
1               80     60
2              100     80
3               50     65
4               65     80

In [10]:
import pandas as pd
import numpy as np
data = {  
        'Name':['Jai', 'Princi', 'Gaurav', 'Anuj','Anup','Vijay','daya'],
        'Age':[27, 24, 22, 32,33,22,54],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj','Bangalore','Mysore','kanapura'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', 'MCA', 'Phd', 'MCA']
}
df=pd.DataFrame(data)
print("Original DataFrame:\n", df)
dataf = df.groupby('Qualification')
print(dataf)

Original DataFrame:
      Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
4    Anup   33  Bangalore           MCA
5   Vijay   22     Mysore           Phd
6    daya   54   kanapura           MCA
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000014981B70550>